@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  display: flex;
  content: '▼';
  top: 0px;
  bottom: 0px;
  right: 15px;
  align-items: center;
  position: absolute;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  @apply outline-secondary;
  @apply bg-neutral-300;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100vh;
  cursor: pointer;
  @apply bg-primary;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 100vh;
  cursor: pointer;
  @apply bg-primary;
}
